<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Cloud" connectionString="Data Source=127.0.0.1;Initial Catalog=ServicePoint;Persist Security Info=True;User ID=sa;Password=PASSWORD" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultCryptoKey" value="128"/>
    <add key="DefaultCryptoCheck" value="SHA512"/>
    <add key="DefaultCryptoType" value="AES"/>
    <add key="CorpWeb" value=""/>
    <add key="SSLWeb" value=""/>
    <add key="ChartDataDuration" value="15" />
    <add key="AlertDataDuration" value="5" />
    <!--<add key="DeployMode" value="DEMO"/>-->
    <add key="DeployMode" value="LIVE"/>
    <add key="EnterPrise" value="false"/>
    <add key="PageRefreshTime" value="15000" />
    <!--<add key="WebServiceUrl" value="http://localhost:3584/Proc.asmx"/>-->
  </appSettings>
  <system.web>

    <customErrors mode="Off"/>
    <pages buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="false" smartNavigation="false" autoEventWireup="false" validateRequest="false">
      <controls>
        <add tagPrefix="Menu" src="~/Common/UC/TopMenu.ascx" tagName="Top"/>
        <add tagPrefix="Menu" src="~/Common/UC/AdminLeft.ascx" tagName="AdminLeft"/>
        <add tagPrefix="Alert" src="~/Common/UC/AlertSlide.ascx" tagName="AlertSlide"/>
        <add tagPrefix="Alert" src="~/Common/UC/AlertList.ascx" tagName="AlertList"/>
        <add tagPrefix="Modal" src="~/Common/UC/Modal/Groupmember.ascx" tagName="Groupmember"/>
        <add tagPrefix="Modal" src="~/Common/UC/Modal/ServerAdd.ascx" tagName="ServerAdd"/>
        <add tagPrefix="Modal" src="~/Common/UC/Modal/RuleEditor.ascx" tagName="ServerRule"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>